.img{
    display: flex;
    margin-left: 99px;
    margin-top: -363px;
}
.tittle{
    display: flex;
    /* margin: revert; */
    display: flex;
    font-size: 2em;
    margin-block-start: -0.33em;
    margin-block-end: -8.33em;
    margin-inline-start: 823px;
    margin-inline-end: -306px;
    font-weight: 600;
    margin-top: 333px;
}
.boton{
    width: 145px;
    text-decoration: unset;
    padding: 5px;
    font-weight: 100;
    font-size: 13px;
    color: #ffffff;
    background-color: rgb(188 190 104);
    border-radius: 7px;
    border: 2px solid black;
    margin-block-start: 35.67em;
    margin-block-end: -56.33em;
    margin-inline-start: 829px;
    margin-inline-end: 356px;
    margin-top: 367px;
    
  }