.margin{
  height: 888px;
  display: block;
  margin: auto;
  width: 800px;
  margin-top: -36px;
  border-radius: 15px;
  
    
   
}

.title{
    font-style: italic;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(188 190 104), 0 0 10px rgb(188 190 104),
    0 0 10px rgb(188 190 104), 0 0 10px rgb(188 190 104), 0 0 10px rgb(188 190 104);
    margin-bottom: 0;
    padding: 20px;
}

    .recipeImage{
        display: block;
        text-align: initial;
        opacity: 100%;
        border-radius: 20px;
        width: 433px;
        height: 400px;
        margin-inline: auto;
  }

  .text{
    width: 795px;
    font-size: 16px;
    font-weight: bold;
    font-style: inherit;
    padding: -31px;
  }
.contenedor{
  display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(188, 190, 104);
    border-radius: 20px;
    box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 10px rgb(188 190 104), 0 0 5px rgb(188 190 104),
  0 0 5px rgb(188 190 104), 0 0 5px rgb(188 190 104), 0 0 5px rgb(188 190 104);
  }
    

 .tamaño{ 
     display: flex;
  flex-flow: row;
  align-items: center;
justify-content: center;
}

.peso{ 
    display: flex;
 flex-flow: row;
 align-items: center;
justify-content: center;
}

.vida{ 
    display: flex;
 flex-flow: row;
 align-items: center;
justify-content: center;
}

.p{
margin-block-start: unset;
margin-block-end: unset;
}

.col{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
   justify-content: center;
}

.boton{
    width: 200px;
    margin: 20px;
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
    font-size: 20px;
    color: black;
    background-color: rgb(188 190 104);
    border-radius: 6px;
    border: 2px solid #8d7248;
  }
  .boton:hover{
    color: #3c3d15bb;
    background-color: #f5e2a4;
    
    transform: scale(1.1);
  }
  
  
   